<!DOCTYPE html>
<html>

<head>
    <title>Weather Balloon Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.js"></script>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script> -->
    <script src="https://rawgit.com/angular-ui/angular-google-maps/2.1.4/dist/angular-google-maps.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8HeasIrsT_RwJ9BfE3dN8GF2Xz5wiV18">
    </script>
    <script src="system.js"></script>
    <style type="text/css">
    #map {
        height: 850px;
        width: 1000px;
    }
    
    .infoWindowContent {
        font-size: 14px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }
    
    h2 {
        margin-bottom: 0;
        margin-top: 0;
    }
    </style>
</head>
<body ng-app="mapsApp" ng-controller="MapCtrl">
    <div id="sidebar" class="col-sm-4">
        <div class="well">
            <h1>Angular-Google-Map</h1>
            <h2>Lastest Data:</h2>
            <p>
                Latitude: {{latitude}} Longitude: {{longitude}} Speed: {{speed}} Heading: {{heading}} Altitude: {{altitude}}
            </p>
            <h2>-- Altitude Chart --</h2>
            <h2>-- Speed Chart --</h2>
            <h2>-- Battery Chart --</h2>
        </div>
    </div>
    <div id="mapview" class="well col-sm-8">
        <div id="map"></div>
        <div id="class" ng-repeat="marker in markers"> <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
        </div>
        </body>

</html>
